.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  
}

@keyframes popup {
  from{transform: scale(0.9); opacity: 0; }
  to{transform: scale(1); opacity: 1; }
}

.login-box {
  position: relative; 
  background: #fff;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  animation: popup 0.3s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  transition: color 0.2s;
}

.close-button:hover {
  color: #d00;
}

.login-box h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width : 400px;
}
.login-box form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-box form button {
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-box form button:hover {
  background: #14273b;
}

